.phone {
  margin-block-start: -50%;
  text-align: center;
}

.phone img {
  max-inline-size: 100%;
}


@media screen and (min-width: 1000px) {
  .phone {
    margin-block-start: -70%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .phone {
    position: sticky;
    inset-block-start: 210px;
    aspect-ratio: 9 / 16;
  }
}
