@import './card.css';

.folks {
  background-color: var(--grey-lite);
  padding-inline: 1.25rem;
  padding-block-start: 5rem;
  padding-block-end: 5rem;
}

.folks-title {
  font: var(--headline5);
  text-align: center;
  margin-block-end: 8.1875rem;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

@media screen and (min-width: 768px) {
  .folks-title {
    font: var(--headline2);
    text-align: center;
  }

  .cards {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
}
