.transactions {
  background-color: var(--grey-lite);
  background-image: url(../../../../assets/images/bg-transaction.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 120%;
}


.transactions-description {
  padding-inline: 1.25rem;
  margin-block-end: 4rem;
}

@media screen and (min-width: 768px){
  .transactions {
     background-size: cover;
  }
  .transactions-description {
    margin-block-start: 12.9375rem;
    margin-block-end: 21.6875rem;
    max-inline-size: 28.625rem;
  }
}